html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
  scrollbar-width: none !important;
}

body {
  -ms-overflow-style: none !important; 
}

::-webkit-scrollbar {
    display: none !important;
    overflow: hidden !important;
    width: 0px !important;
    height: 0px !important;
}